@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins,Itim,sans-serif;
    color: black
}
.head-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}
.menubar{
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 100px;
    max-width: fit-content;
    width: 100%;
}
.menubar ul{
    list-style: none;
    display: flex;
}
.menubar ul a{
    text-decoration: none;
}
.menubar ul li{
    padding-right: 20px;
}
.regis-btn a{
    padding: 10px 20px 10px 20px;
    background-color: #7a5e46;
    border: 2px solid #7a5e46;
    border-radius: 3px;
    color: #fff;
    transition: 0.5s;
}
.regis-btn a:hover{
    background-color: #ffffff;;
    color: #7a5e46;
    border-radius: 3px;
    border: 2px solid #7a5e46;
}
.search-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box i{
    position: absolute;
    margin-left: -350px;
    color: rgb(160, 159, 159);
}
.search-box input{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(158, 158, 158);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    margin-left: 100px;
    transition: 0.5s;
}
.search-box input:focus {
  outline: none;   
  box-shadow: none; 
  border: 1px solid rgb(0, 0, 0);
}
.bell i{
    color: rgb(139, 139, 139);
}
.cart i{
    color: #919191;
}

.logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.logo img{
    height: 80%;
    object-fit: cover;
    
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    position: absolute;
}
nav ul a{
    text-decoration: none;
    height: 100%;
    color: #ffffff;
    align-items: center;
    width: 250px;
    display: flex;
    transition: 0.3s;
    justify-content: center;
    font-size: 22px;
}
nav ul li{
    height: 100%;
    display: flex;
    transition: 0.3s;
}
.main-nav{
    height: 60px;
    width: 100%;
    background-color: #7a5e46;
    padding: 0px 150px 0px 150px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav ul li:hover{
    background-color: #eee7bb;
    color: #7a5e46;
}
nav ul li:hover a{
    background-color: #eee7bb;
    color: #7a5e46;
}
nav ul li ul.nav-dropdown{
    display: none;
    position: absolute;
    top: 100%;
}
nav ul li:hover ul.nav-dropdown {
    display: block;
}
nav ul li ul.nav-dropdown li a{
    background-color: #eeead4;
    color: #aa9e92;
}
nav ul li ul.nav-dropdown li a:hover{
    background-color: #eceadc;
    color: #7a5e46;
} 
.active{
    background-color: #eee7bb;
    color: #7a5e46;
}
.containers{
   display: flex;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
}
.profile-box{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.profile-box img{
    display: flex;
    width: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
form{
    width: 500px;
}
.input_box_t input{
    width: 47%;
    padding: 10px;
}
.input_box input{
    width: 100%;
    padding: 10px;

}