@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins,Itim,sans-serif;
    color: black
}
.head-container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}
.menubar{
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 100px;
    max-width: fit-content;
    width: 100%;
}
.menubar ul{
    list-style: none;
    display: flex;
}
.menubar ul a{
    text-decoration: none;
}
.menubar ul li{
    padding-right: 20px;
}
.regis-btn a{
    padding: 10px 20px 10px 20px;
    background-color: #7a5e46;
    border: 2px solid #7a5e46;
    border-radius: 3px;
    color: #fff;
    transition: 0.5s;
}
.regis-btn a:hover{
    background-color: #ffffff;;
    color: #7a5e46;
    border-radius: 3px;
    border: 2px solid #7a5e46;
}
.search-box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box i{
    position: absolute;
    margin-left: -350px;
    color: rgb(160, 159, 159);
}
.search-box input{
    width: 500px;
    height: 35px;
    border: 1px solid rgb(158, 158, 158);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
    margin-left: 100px;
    transition: 0.5s;
}
.search-box input:focus {
  outline: none;   
  box-shadow: none; 
  border: 1px solid rgb(0, 0, 0);
}
.bell i{
    color: rgb(139, 139, 139);
}
.cart i{
    color: #919191;
}

.logo{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    padding-left: 150px;
}
.logo img{
    height: 80%;
    object-fit: cover;
    
}